<nav class=" -expand-lg -light bg-light">
  <a class="-brand" href="#">ACME Invoicing App</a>
  <button class="-toggler" type="button" data-toggle="collapse" data-target="#Nav" aria-controls="Nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="-toggler-icon"></span>
  </button>
  <div class="collapse -collapse" id="Nav">
    <ul class="-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/invoicing" routerLinkActive="active">Invoicing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</nav>